// variables
$mm-sample-font-sans-serif: Neometric, Arial, sans-serif;
$mm-sample-font-serif:      Georgia, "Times New Roman", Times, serif;


html {
  font-size: 62.5%; //so that it remains consistent all throughout the page.
  position: relative;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  background-color: #f3f3f3;
}

header {
  //nav work is already completed, no need to touch this
  height: 6rem;
  background-color: #002f6c;
  box-sizing: border-box;
  padding: 2.5rem 0;

  .container {
    margin-top: -.6rem;
  }

  img {
    width: 16rem;
  }
}

.container { margin-top: 5rem; margin-bottom: 5rem;}

.text-width{
  width: 67%
}

//Typography and button styles - included are some placeholders for styling
//Keep in mind, a component may use one placeholder for a title / etc now but it
// may change in 6 months and we want to be able to swap via only CSS changes
h1, h2, %h2 {
  font-family: $mm-sample-font-serif;
  color: #000;
}

p, h1, h2, %h2 { margin: 0 0 2rem 0; }
h1      { font-size: 4rem; }
h2, %h2 { font-size: 3rem; }
p       { font-size: 1.4rem; }

a {
  color: #005A9F;
  &:hover {
    color: #002f6c;
  }
}

%eyebrow {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  line-height: 1.2rem;
  margin-bottom: 2.4rem;
}

%subtext {
  font-size: 1.2rem;
}

.btn-primary {
  color: #000;
  font-size: 1rem;
  letter-spacing: .1rem;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1.2rem 4rem;
  background-color: yellow;
  border: 0;
  border-radius: 0;
}

//card parent added for styling
.mm-card-parent{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.text{
  font-family: $mm-sample-font-sans-serif;
}

.footer{
    position: fixed;
    height: 50px;    
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}
.mm-card {
  //feel free to make any comments to explain your thinking
  
  //flex is used here to give styles to card
  flex: 0 1 32%;  
  background-color: white;
  

  .image {
    //including some base styles so this shows up in the basic page, feel free to change these
    height: 300px;
    //min-height: 15rem;
    width: 100%;
    background-image: url('http://via.placeholder.com/778x368');
    background-repeat: no-repeat;
    background-size: contain;
  }

  .content {
    padding: 25px;
    background-color: white;
    margin-top: -100px;
    .title{
      font-family: $mm-sample-font-serif;
      font-size: 3rem;
    }
  }
}

@media screen and (max-width: 600px) {
        .text-width{
          width: 100%
        }

        .mm-card-parent{        
           display: block;          
        }

        .mm-card{
          margin-bottom: 20px;
          width: 450px
        }
    }
